@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    background-color: #07080a;

}
/* here the Progress Bar Code */
.progress-bar{
    position: fixed;
    width: 100%;
    height: 1vh;
}
.filled{
    width: 0%;
    height: 100%;
    background-color: white;
}
/* end */

.page1 {
    height: 100vh;
    width: 100%;
    background: url("./Images/background-img.jpg");
    background-size: cover;
    background-position: center;
    padding: 0.1px;
}

#loading-page {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100%;
    width: 100%;
    /* display: none; */

}

.loading-content {
    transition: opacity 1s ease-out;
    /* Smooth transition for the content */
}

.loading-content.fade-out {
    opacity: 0;
}

#loading-page h2 {
    font-family: "Orbitron";
    color: #222;
    font-size: 4rem;
    letter-spacing: 1rem;
    position: relative;

}

#loading-page h2::before {
    content: attr(data-text);
    position: absolute;
    color: #f2f2f2;
    top: 0;
    left: 0;

    width: 100%;

    overflow: hidden;
    animation: animate 2s cubic-bezier(0.96, 0.07, 0.52, 0.97);
}

#loading-page .bar {
    width: 150px;
    height: 5px;
    background-color: #222;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    top: 200px;
    left: 12%;
}

#loading-page .bar::before {
    position: absolute;
    background-color: #f2f2f2;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: animate 2s cubic-bezier(0.96, 0.07, 0.52, 0.97);
}

@keyframes animate {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    /* border: 2px solid white; */
}

/* ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

} */

li {
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
}

a {
    font-size: 18px;
    text-decoration: none;
}

.nav-links {
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ul {
    display: flex;
    justify-content: space-between;
    align-items: center; */
}

li {
    margin: 10px 10px;
}

.links {
    position: relative;
    display: inline-block;
    color: #9c9c9d;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: 1s;
    cursor: pointer;
}

a:hover {
    color: white;
    letter-spacing: .25em;
}


a span {
    position: absolute;
    display: block;
    background: white;
}

a span:nth-child(1) {

    left: 0;
    top: 0;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
}

a:hover span:nth-child(1) {
    transform: scaleX(1);
    transform-origin: right;
}

a span:nth-child(2) {

    right: 0;
    top: 0;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
}

a:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
}

a span:nth-child(3) {

    right: 0;
    top: 0;
    width: 1.5px;
    height: 100%;
    transform: scaleY(0);
    transition: transform .5s;
    transition-delay: .2s;
}

a:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
}

a span:nth-child(4) {

    left: 0;
    top: 0;
    width: 1.5px;
    height: 100%;
    transform: scaleY(0);
    transition: transform .5s;
    transition-delay: .2s;
}

a:hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: top;
}

a span:nth-child(5) {

    left: 0;
    bottom: 0;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;

}

a:hover span:nth-child(5) {
    transform: scaleX(1);
    transform-origin: left;
}

a span:nth-child(6) {

    right: 0;
    bottom: 0;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;

}

a:hover span:nth-child(6) {
    transform: scaleX(1);
    transform-origin: right;
}

.nav-items:nth-child(odd) {
    animation: slideInFromLeft 0.8s ease forwards;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.nav-items:nth-child(even) {
    animation: slideInFromRight 0.8s ease forwards;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.logo {
    /* margin-top: 10%px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 23vh;
    margin-top: 4%;
    /* object-fit: cover; */
    /* background-color: green; */
}

.logo img {
    width: 100%;
    height: 100%;
    /* background-color: black; */
    object-fit: cover;
}

.stambh-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 30vh;
    object-fit: cover;
    /* background-color: green; */
}

.stambh-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Starting of Page 2 */

.page2 {
    width: 100%;
    height: 100vh;
    background-color: #07080a;
    padding: 0.1px;
}

.flash-news-banner {
    background-color: #111214;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    position: relative;
    width: 1204px;
    height: 110px;
    max-width: 80%;
    margin: 30px auto;
    border-radius: 16px;
    /* backdrop-filter: blur(5px); */
    border: 2px solid hsla(0, 0%, 100%, 0.036);
    box-shadow: inset 0 1px 1px 0 hsla(0, 0%, 100%, .15);
}

.flash-news-text {
    font-size: 1.3rem;
    color: #F47216;
    font-weight: bold;
    margin-right: 15px;
}

.news-content {
    color: #fff;
}

.flash-news-banner::after {
    content: '•••••';
    color: #fff;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-58.5%);
    font-size: 24px;
    letter-spacing: 5px;
}


.container {
    width: 1204px;


    margin: 0 auto;
}

.container h1 {
    color: white;
    font-size: 3.2rem;
    margin-top: 100px;
    margin-bottom: 13px;
}

.container p {
    margin-bottom: 32px;
    font-size: 1.3rem;
    color: #6a6b6c;
}

.link-card p {
    font-size: 1.1em;
    color: #6a6b6c;
}

.container .links {
    width: 1204px;
    display: flex;
    padding: 0px 0px;
    justify-content: space-between;
    gap: 15px;
    text-transform: none;
    /* flex-wrap: wrap; */
}

.container .link-card {
    background-color: #111214;
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 calc(50% - 40px);
    height: 176px;
    border: 2px solid hsla(0, 0%, 100%, 0.036);
    box-shadow: inset 0 1px 1px 0 hsla(0, 0%, 100%, .15);
    position: relative;
    transition: transform 0.3s;
}

.container .link-card:hover {
    transform: translateY(-10px);
    border: 2px solid hsla(0, 0%, 100%, 0.267);

}

.container .icon {

    font-size: 1.5rem;
    margin-bottom: 10px;
}

.container .icon i {
    color: #cdcece;
}

.container h2 {
    color: #cdcece;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.container button {
    position: absolute;
    bottom: 124px;
    right: 20px;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}




.container .link-card:hover h2,
.container .link-card:hover i {
    color: white;

}

.container .link-card:hover p {
    color: #9c9c9d;
}

.container .link-card:hover button {
    opacity: 1;
}

/* this  */

/*Page3*/
/* this is created by me.......*/

.page3 {

    max-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
    background-color: #1d1e1e;
    /* overflow: hidden;    */
}

.page3-img {
    cursor: pointer;
    /* position: absolute; */
    height: 100%;
    width: 40%;
}

.page3-img img {
    height: 80%;
    width: 50%;
    /* border-radius: 1px; */
    border: 1.5px solid rgb(251, 247, 247);
}

.page3-img img:hover {
    /* width: 60%; */
    width: 55%;

    border: 2px solid rgb(74, 58, 58);
    outline: #1a16f4;
    transition: 1s ease-in;
}

.above-img {
    height: 50%;
    width: 1%;

}


.contents {
    font-family: "Reddit Sans", sans-serif;
    user-select: none;
    overflow: hidden;
    /* z-index: 1;
    position: absolute; */
    /* position: relative; */
    height: 1024px;
    flex-wrap: ;
    /* height:100p; */
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* margin-left: -50% */
}

.contents h1 {
    font-weight: lighter;
    font-size: 42.5px;
    color: white;
    font-family: "Inter";
    font-weight: 400;

}

.contents p {
    margin: 20px 0px;
    font-size: 17px;
    color: #c6bdbd;
    letter-spacing: 1px;

}


.contents button {
    cursor: pointer;
    /* user-select: none; */
    margin-left: 10px;
    width: 40%;
    padding: 12.5px 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #141516;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;

}

.contents button:hover {
    background-color: #3c3e3f;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
    letter-spacing: 1px;
}

.contents button:active {
    background-color: #282a2c;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

/* page4 */
.page4 {

    width: 100%;
    min-height: 100vh;
    /* margin-top: 10%; */
    /* margin-bottom: 10%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Raddit;
    background-color: black;
    /* border: 2px solid white; */
}

.cont-folder {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-family: Raddit, sans-serif;


}

.img-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height:; */
    background-color: #1d1e1e;
    width: 31%;
    border-radius: 10px;
    box-shadow: 10 20 10px rgba(189, 168, 168, 0.1);


    /* overflow: hidden; */

}

.img-cont {

    /* object-fit: cover; */
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    object-fit: cover;
    padding: 10px;
    /* border: 2px solid white; */
}

.img-div:hover {
    letter-spacing: 1px;
    transition: 1s ease-in-out;
    transform: translateY(-10px);
    border: 2px solid hsla(0, 0%, 100%, 0.267);
}

.img-div h1,
.img-div p,
.img-div button {

    transform: translateY(-20px);

    /* opacity: 0; */
    transition: opacity 0.3s ease-in-out, transform 1.5s ease-in-out;
    /* position: absolute; */

}

.img-div:hover h1,
.img-div:hover p,
.img-div:hover button {
    /* opacity: 1; */
    transform: translateY(0);


}



.img-cont img {
    max-width: 100%;
    /* height: auto; */
    height: 90%;
    border-radius: 10px;


}

.img-div h1 {
    font-size: 24px;
    margin: 20px 0;
    color: white;
    font-family: "Inter";
    font-weight: 400;
    margin-left: 20px;
}

.img-div p {
    font-size: 17px;
    margin: 10px 0;
    color: white;
    margin-left: 20px;
}

.img-div button {
    cursor: pointer;
    /* font-size: larger; */
    margin-left: 20px;
    width: 40%;
    padding: 12.5px 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #141516;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;

}

.img-div button:hover {
    background-color: #3c3e3f;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
    letter-spacing: 1px;


}

.img-div button:active {
    background-color: #282a2c;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

/* page5 */
.page5 {
    user-select: none;
    margin-top: -4%;
    box-sizing: border-box;
    color: white;
    background-color: #1d1e1e;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    /* overflow: hidden; */
    gap: 20px;
    font-family: "Reddit Sans", sans-serif;
}

.page5-contents {

    /* border: 2px solid white; */
    /* margin-top: -20px; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* flex-wrap: wrap; */
    align-items: start;
    height: 100%;
    width: 40%;
}

.page5-contents h1 {
    /* overflow: auto; */
    font-weight: lighter;
    font-size: 42.5px;
}

.page5-contents p {
    color: #fafafa;
    /* overflow: auto; */
    margin: 10px 0px;
    margin-left: 5px;
    font-variant: small-caps;
    font-size: 14.5px;
}

/* .page5-contents p:hover {
    letter-spacing: 1px;
    transition: 1s ease-in-out;
} */

.page5-contents button {
    cursor: pointer;
    margin-left: 10px;
    width: 40%;
    padding: 12.5px 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #141516;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.page5-contents button:hover {
    background-color: #3c3e3f;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
    letter-spacing: 1px;
}

.page5-contents button:active {
    background-color: #282a2c;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.page5-img {
    cursor: pointer;
    /* border: 2px solid white; */
    height: 95%;
    width: 50%;
}

.page5-img img {
    /* object-fit: cover; */
    /* right: 2px;
    position: absolute; */
    height: 100%;
    margin-left: 40%;
    width: 50%;
}

.page5-img img:hover {
    transform: translateY(-20px);
    transition: 1s ease-in-out;
}

/* page5 end */
/* *********************************************************************************************** */
/* Page6 Starting */
.page6 {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    color: white;
    /* max-height: 400px; */
    margin: 2%;
}

.container-six {
    /* it contains both the div's 1- img-six and 2- content-six */
    display: flex;
    /* border: 1px solid yellow; */
    flex-direction: row;
    margin: 10px;

}

.content-six {
    /* second div */
    /* background-color: #1d1e1e; */

    display: flex;
    /* border: 1px solid white; */
    flex-direction: column;
    justify-content: start;
    /* align-items: center; */
    width: 39%;
    margin: 10px;
}

.content-six h1 {
    margin-top: -10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    /* margin: 20px 0px; */
    margin-left: 2%;

}

.content-six p {
    font-family: sans-serif;
    color: #fafafa;
    margin: 10px 0px;
    font-size: 14px;
    margin-left: 10px;
    letter-spacing: 1px;
}

/* .content-six ul{
    /* margin: 25px 0px; */
/* } */
.content-six li {
    list-style: outside;
    margin: 7%;
    font-family: Raddit, sans-serif;
    color: #d0d3d5;
    font-weight: lighter;
    /* optional */
    font-variant-caps: all-small-caps;

}

.content-six button {
    cursor: pointer;
    margin-left: 20px;
    width: 40%;
    padding: 12.5px 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #141516;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    margin-top: 8%;
    -webkit-transition: all 0.5s;
}

.content-six button:hover {
    background-color: #3c3e3f;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
    letter-spacing: 1px;
}

.content-six button:active {
    background-color: #282a2c;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.img-six {
    cursor: pointer;
    /* first div */
    /* border: 1px solid white; */
    height: 90%;
    width: 49%;
    margin: 2px;
}

.img-six:hover {
    box-shadow: rgba(215, 211, 221, 0.25) 0px 54px 55px, rgba(251, 14, 14, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(142, 4, 4, 0.17) 0px 12px 13px, rgba(231, 3, 3, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

.img-six img {
    border-radius: 1px;
    height: 100%;
    width: 90%;
    margin-left: 50px;
}

.img-six img:hover {
    transform: translateY(-20px) translateX(-20px) scale(1.08);
    transition: 2s ease-in-out;

}

/* ***********************************************************************************8 */

/* Page7 Started */
.page7 {

    user-select: none;
    display: flex;
    margin: 5%;
    margin-top: 10%;
    color: white;
    font-family: "Inter", sans-serif;
    /* border: 1px solid white; */
    gap: 20px;

}

.content-seven {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    /* margin:2%; */
    margin-left: 5%;

    /* line-height: px; */

}

.content-seven h1 {
    /* margin-top: -10px; */
    font-family: "Inter", sans-serif;
    font-weight: 400;

}

.content-seven p {
    font-family: sans-serif;
    color: #fafafa;
    margin: 20px 0px;
    font-size: 14px;
    /* Optional */
    font-variant: small-caps;

    letter-spacing: 1px;
}

.content-seven p:hover {
    /* letter-spacing: 2px; */
}

.content-seven button {
    cursor: pointer;
    width: 40%;
    padding: 12.5px 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #141516;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    margin-top: 2%;
    -webkit-transition: all 0.5s;
}

.content-seven button:hover {
    background-color: #3c3e3f;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
    letter-spacing: 1px;
}

.content-seven button:active {
    background-color: #282a2c;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.img-seven-div {
    cursor: pointer;
    width: 50%;
    /* height: 0%; */
    /* margin-left: 10%; */

}

.img-seven-div:hover {
    box-shadow: rgba(215, 211, 221, 0.25) 0px 54px 55px, rgba(251, 14, 14, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(142, 4, 4, 0.17) 0px 12px 13px, rgba(231, 3, 3, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

.img-seven-div img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.img-seven-div img:hover {
    transform: translateY(-20px) translateX(-20px) scale(1.08);
    transition: 2s ease-in-out;
}

/* Page7 Ended */
/* **************************************************************************************** */
/* **************************************************************************************** */
/* Astronaut Div */
.astronout {
    /* color: white; */
    font-family: "inter";

    position: relative;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    cursor: pointer;
}

.astronout img {
    width: 100%;
    display: block;
    transition: opacity 0.5s ease;
}

.astronout:hover img {
    opacity: 0.5;
}

.above-txt {

    position: absolute;
    color: white;
    font-weight: lighter;
    /* Ensure the text is visible */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* Optional: Add background for better readability */
    padding: 10px;
    text-align: center;
    transition: color 0.5s ease, background-color 0.5s ease, opacity 0.5s ease;
    /* Center text if it's longer */
}

.above-txt h1 {
    font-family: "Montserrat";
    font-weight: 400;
}

.above-txt button {
    cursor: pointer;
    width: 50%;
    height: 40px;
    /* padding: 12.5px 30px; */
    border: 1px solid white;
    border-radius: 10px;
    background-color: #141516;
    color: #ffffff;
    /* font-weight: Bold; */
    transition: all 0.5s;
    margin-top: 2%;
    -webkit-transition: all 0.5s;
}

.above-txt button:hover {
    background-color: #3c3e3f;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
    letter-spacing: 1px;
}

.above-txt button:active {
    background-color: #282a2c;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}


/* footer */
.foot-cont {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.foot-cont img {
    height: 100px;
    width: 100px;
}

.foot-cont p {
    text-align: center;
    color: #5a465a;
    line-height: 2;
    font-family: "Inter";
}

.footer-content {
    padding: 2%;
    display: flex;
    color: white;
    /* gap: 10px; */
    justify-content: space-around;
    font-family: "Inter";
    font-size: 1.6rem;
    text-transform: uppercase;
}

.footer-content ul {
    color: #5a465a;
    margin-top: 10%;
    margin-left: -18px;
    list-style: none;
    font-family: "Inter";
}


.footer-content li {
    font-size: 15px;
    line-height: 2;
    margin-bottom: 10px
}

/* this is used for giving gap between Icon and Text */
.footer-content ul li span {
    margin-right: 10px;
    font-size: 30px;
}

.footer-content li:hover {
    border-bottom: 10px;
    color: white;
    text-decoration: underline;
}

.footer-content i:hover {
    transform: scale(1.5);
    transition: 0.8s ease;
    color: white;
}

.footer-content input {
    /* background-color: black; */
    height: 30px;
    /* width: 100%; */
    color: black;
    border-radius: 2px;
    border:dotted;
    margin: 2px;
    width: 60%;
    font-size: 18px;
}

.footer-content button {
    cursor: pointer;
    /* width: 40%; */
    /* padding: 12.5px 30px; */
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #141516;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    margin-top: 2%;
    -webkit-transition: all 0.5s;
}

.footer-content button:hover {
    background-color: #3c3e3f;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
    letter-spacing: 1px;
}

.footer-content button:active {
    background-color: #282a2c;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}


.footer-copyright {
    /* position:relative; */
    /* width: 80%; */
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-copyright button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    font-size: 30px;
    z-index: 1000;
    margin-left: 35%;
    background-color: rgb(11, 1, 1);
    color: white;
    border-radius: 60%;
    border: double;
    outline: red;
    outline: #ffffff;
    /* width: 10%; */
    opacity: 0.8;
    /* color: white; */
    padding: 10px;
    transform: scale(1.2);
    transition: 0.8s ease-in-out;
    font-weight: bolder;
}

.footer-copyright button:hover {
    color: black;

    background-color: white;

}

/* Footer Ended */
/* progress bar */