.container{
    height: 700px;
    background-color:lightblue ;
    border: 1px solid black;
    display: grid;
    gap: 10px;
    grid-auto-rows:repeat(2,1fr);
    grid-auto-columns:repeat(4,1fr);
}
.box{
    background-color:aqua;
    border: 1px solid black;
}