@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
body {
  position: relative;
}

body.active {
  background-color: black;
  /* color: white; */
}
body.active .nav-item {
  color: white;
}
body.active .logo-div img{
   background-color: white;
}


#toggle {
  cursor: pointer;
  position: absolute;
  height: 40px;
  width: 5%;
  background-color: #d0d1c5;
  color: black;
  top: 20px;
  left: 67%;
  border-radius: 40px;
  transition: 0.3s;
  box-shadow: inset 0 8px 60px rgba((0), 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}
#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 4px -4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

#toggle.active .indicator {
  background: linear-gradient(to bottom, #aeaeae, #222);
  left: 22px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1),
    inset 0 4px 4px rgba(255, 255, 255, 1),
    inset 0 4px -4px rgba(255, 255, 255, 1);
}
#toggel.active {
  background-color: #fff;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}

nav {
  font-family: "Montserrat";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.logo-div {
  height: 80px;
  width: 80px;
}
.logo-div img {
  padding: 0px 20px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}
.nav-item ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 30px;
}
.nav-item ul li {
  position: relative;
  font-size: 20px;
}
/* .nav-item ul li:hover{
  color: rgb(165, 158, 158);
} */
.search-bar {
  position: relative;
  padding: 20px 30px;
  height: 80px;
  width: 25%;
  border-radius: 60px;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border-radius: 60px;
  font-size: 18px;
  padding: 0px 10px;

  font-weight: 400;
}
.search-bar i {
  position: absolute;
  right: 45px;
  bottom: 32px;
}
.dropDown {
  display: none;
}
.nav-item ul li:hover .dropDown {
  display: block;
  position: absolute;
  left: -10px;
  top: 100%;
}
.dropDown ul {
  font-size: 12px;
  gap: 0px;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  margin: 10px;
}
.dropDown ul li {
  transition: all 0.3s;
  width: 100px;
  padding: 5px;
}
.dropDown ul li:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.67);
}

.hero {
  /* background-color: #fbf8f1; */
  height: 70vh;
  margin: 2%;
  border-radius: 40px;
  /* background-color: #e5e1d9; */
  background-color: #f9f2e8;
}
.hero-content {
  min-height: 50%;
  font-family: "Barlow", sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top:100px ; */
}
.hero-content h1 {
  color: #232830;
  font-size: 5vw;
  font-weight: 700;
  line-height: 3vw;
  margin-top: 5%;
}
.hero-content h2 {
  font-family: "Montserrat";
  font-size: 5vw;
  font-weight: 400;
  margin: 3px;
}
.hero-content p {
  line-height: 5vh;
  color: #555653;
  font-weight: 600;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5%;
}
.card {
  border-radius: 25%;
  height: 140px;
  width: 140px;
  border: 2px solid wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;

  /* background-color: black; */
}
#card1 {
  font-family: "Barlow";
  background-color: #fc693f;
}
#card2 {
  font-family: "Barlow";
  color: black;
  background-color: #fff;
}
#card3 {
  font-family: "Barlow";

  background-color: #5b83fe;
}
#card4 {
  font-family: "Barlow";
  background-color: #dcd4d4;
}
#card5 {
  font-family: "Barlow";
  background-color: #1db463;
}
.card span {
  width: 50px;
}
.left-right-arrow {
  font-size: 4vw;
}

.part1 {
  font-family: "Montserrat";
  padding: 0px 30px;
  min-height: 60vh;
  /* margin-top: 5%; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0%;
}

.part1-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.part1-img {
  height: 200px;
}
.part1-img img {
  border: none;
  outline: none;
  height: 100%;
  background-color: white;
}
.part1-container {
  border-radius: 15px;
  height: 110px;
  display: flex;
  flex-direction: column;
  background-color: #f4f9f3;
  /* background-color:#f4f9f3; */
  padding: 20px;
}
.rotating {
  display: flex;
  gap: 5px;
  height: 50%;
  justify-content: space-between;
}
.heart-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headings h3 {
  margin-bottom: 2px;
}
.btn {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}
.btn p {
  font-size: 22 px;
}
.btn button {
  background-color: black;
  color: white;
  border-radius: 20px;
  font-weight: 600;
  width: 60%;
  height: 30px;
  padding: 1px;
}
.btn button:hover {
  transition: all 0.8s;
  transform: scale(1.01);
  color: black;
  background-color: white;
  border: none;
  outline: 2px solid salmon;
}
.heart-icon i {
  font-size: 17px;
}
.heart-icon i:hover {
  transition: all 0.2s;
  transform: scale(1.2) translateY(-2%);
}
/* Part2 */

.part2 {
  background-color: #f4f9f3;
  border-radius: 20px;
  font-family: "Barlow";
  font-weight: 500;
  margin-top: 0%;
  display: flex;
  height: 30vh;
  justify-content: space-evenly;

  margin: 0px 20px;
}
.part2-icon {
  margin: 20px 0px;
  width: 40%;
  height: 23%;
  /* color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  border-radius: 50%;
  box-shadow: -7px 0px rgb(240, 240, 2);
  /* box-shadow:5px 0px rgb(255, 242, 3); */
}
.part2-icon i {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part2 p {
  font-size: 20px;
  font-weight: 600;
  margin: 7px 0px;
}

/* Part2 Ends */

/* Part3 Starts */

.part3 {
  display: flex;
  /* margin-top: 4%; */
  margin: 4% 0%;
  overflow-x: hidden;
  width: 100%;
  height: 70vh;
  justify-content: space-evenly;
  font-family: "Barlow";
  color: white;
}
.exclusive-offer {
  margin-top: 10px;
  background: url("https://www.michaelmurphy.ie/wp-content/uploads/2018/11/48-674x450.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  background-attachment: scroll;
  background-position: center;
  width: 40%;
  height: 90%;
  border: 2px solid wheat;
  border-radius: 20px;
  padding: 70px 50px;

  /* transition: box-shadow 0.3s ease; */
}

.exclusive-offer .heading {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.exclusive-offer .heading p {
  font-family: "Barlow";
  color: #f6f6f5;
  font-size: 20px;
  font-weight: 500;
}
.exclusive-offer .heading button {
  font-family: "Montserrat";
  padding: 5px;
  width: 8vw;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  color: red;
  background-color: #fff;
  font-weight: 500;
}

.best-headings {
  margin-top: 5%;
}

.best-headings h1 {
  color: #fff;
  margin: 2px 0px;
  font-size: 4vw;
  font-weight: 500;
}
.Only {
  margin: 10px 0px;
  font-size: 1.5vw;
  /* font-weight: 400; */
}
.getBest {
  margin: 20px 0px;
}
.getBest button {
  height: 45px;
  width: 48%;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: red;
  color: white;
  font-size: 17px;
}
.getBest button:hover {
  transition: all 0.4s ease-in-out;
  background-color: rgb(235, 224, 224);
  color: red;
}

.regular-offer {
  margin-top: 10px;
  font-family: "Barlow";
  background-color: #f5f5f5;
  width: 40%;
  height: 90%;
  border: 2px solid wheat;
  color: black;
  border-radius: 20px;
  padding: 70px 50px;
}
.regular {
  margin-bottom: 10px;
  font-size: 20px;
  color: #636663;
  font-weight: 500;
}
.cashBack h2 {
  margin: 15px 0px;
  color: #181715;
  /* font-weight: 300; */
  font-size: 3vw;
}
.max {
  margin: 20px 0px;
  font-size: 1.5vw;
  font-weight: 500;
  color: #636663;
}
.shopNow button {
  margin: 15px 0px;
  padding: 10px 15px;
  width: 40%;
  height: 50px;
  background-color: #2d5356;
  color: white;
  font-size: 17px;
  border-radius: 30px;
  border: none;
}
.shopNow button:hover {
  transition: all 0.3s ease-in-out;
  background-color: #929195;
  color: black;
}

.exclusive-offer:hover {
  box-shadow: 0 4px 15px #c7ad8c;
  transition: all 0.3s;
  transform: scale(1.02);
}
.regular-offer:hover {
  box-shadow: 0 4px 15px #d0d1c5;
  transition: all 0.3s;
  transform: scale(1.01);
}

/* Part3 Ends */

/* *************************************** */

/* Part4 */
.part4 {
  font-family: "Montserrat";
  /* padding: 5%; */
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  margin: 1% 10%;
  height: 60vh;
  background-color: #f5f5f5;
  margin-bottom: 5%;
}
.first-div {
  /* border: 1px solid black; */

  padding: 7% 3%;
  display: flex;
  flex-direction: column;

  width: 48%;
}
.first-div h1 {
  font-weight: 550;
  font-size: 2.9vw;
}
.first-div p {
  color: #585756;
  margin: 20px 0px;
  font-weight: 500;
}
.first-div .newsletter {
  border-radius: 35px;
  background-color: whitesmoke;
  display: flex;
  justify-content: normal;
  align-items: center;
  height: 45px;
  width: 100%;
  /* border: 1px solid black; */
}
.newsletter input {
  position: relative;
  font-weight: 500;
  font-size: 17px;
  padding: 30px;
  border: none;
  height: 100%;
  border-radius: inherit;
  width: 80%;
}
.newsletter span {
  height: 20px;
  position: absolute;
  z-index: 1;
  left: 14%;
  margin-top: 4px;
  height: 20px;
  width: 25px;
  background-color: #f4eee8;
  border-radius: 50%;
}
.newsletter span i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter button {
  position: absolute;
  height: 45px;
  width: 120px;
  background-color: red;
  color: white;
  font-size: 17px;
  border-radius: 30px;
  border: none;
  left: 30.5%;
}

.second-div {
  width: 48%;
}
.second-div-img {
  border-radius: 15px;
  padding: 7% 5%;
  height: 100%;
  width: 100%;
}
.second-div-img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}
.second-div img:hover {
  box-shadow: 0 4px 15px #1db463;
  transition: all 0.5s;
  transform: scale(1.01);
}

/* Part4  Ends*/

/* footer */
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  /* background-color: #fff; */
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  /* background-color:black; */
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/* footer ends */
